<table cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td width="480" align="left" valign="top" style="background: #ffffff; font-family: Tahoma, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #000001;">
            <table cellpadding="0" cellspacing="0" style="padding: 50px 25px 10px; background: #4ba55e; color: #ffffff; font-size: 26px; font-weight: bold;">
                <tr>
                    <td width="480" style="font-family: Helvetica, sans-serif;">
                        RBKmoney
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" align="center" style="padding: 30px 25px 20px; text-align: center; color: #4ba55e; font-size: 24px; font-weight: 600; text-transform: uppercase;">
                <tr>
                    <td>
                        Уважаемый пользователь!
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 0 25px; font-size: 25px; line-height: 30px;">
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        Ваш счет к оплате:
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0; font-weight: bold;">
                        No&nbsp;${paymentPayer.invoiceId} от&nbsp;${paymentPayer.date}
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 10px;">
                        Сумма к оплате: <span style="font-weight: bold;">${paymentPayer.amountWithCurrency}</span>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 30px 25px 20px;">
                <tr>
                    <td>
                        <table cellpadding="0" cellspacing="0" style="padding: 10px 0; font-size: 20px; font-weight: 600; color: #004924;">
                            <tr>
                                <td>
                                    Рекомендованные способы оплаты:
                                </td>
                            </tr>
                        </table>
                        <table cellpadding="0" cellspacing="0" style="padding: 4px 0; font-size: 15px; font-weight: 400; color: #024c26;">
                            <tr valign="top">
                                <td>
                                    <ul style="list-style: circle; color: #024c26; margin: 0; padding: 0 0 0 20px;">
                                        <li style="padding: 3px 0">Кошелек RBK Money</li>
                                        <li style="padding: 3px 0">Системы денежных переводов</li>
                                        <li style="padding: 3px 0">Платежные терминалы</li>
                                        <li style="padding: 3px 0">Банковские платежи</li>
                                        <li style="padding: 3px 0">Банкоматы</li>
                                        <li style="padding: 3px 0">Интернет банкинг</li>
                                        <li style="padding: 3px 0">Банковская карта Visa/MasterCard</li>
                                        <li style="padding: 3px 0">Салоны связи Евросеть</li>
                                        <li style="padding: 3px 0">Салоны сотовой связи</li>
                                        <li style="padding: 3px 0">Подробно ознакомиться со всеми возможными способами оплаты можно <a href="http://www.rbkmoney.ru/ru/sposoby-oplaty-v-seti" target="_blank" style="color: #024c26; text-decoration: underline;">здесь</a></li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 10px 25px; font-size: 14px; color: #4ba55e;">
                <tr>
                    <td>
                        По всем вопросам вы можете обращаться круглосуточно в&nbsp;нашу <a href="http://www.rbkmoney.ru/support" target="_blank" style="color: #4ba55e;">службу поддержки</a>.
                    </td>
                </tr>
                <tr align="right">
                    <td style="padding-top: 10px; font-style: italic;">
                        Команда RBKmoney
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 20px 25px; font-size: 11px; line-height: 14px; color: #4ba55e;">
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        Оператор по переводу денежных средств
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        НКО "ЭПС" (ООО) (лицензия Банка России No3509-K от&nbsp;11.02.2013г.)
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        <a href="http://www.nco-eps.ru" target="_blank" style="font-size: 13px; font-weight: 600; font-style: italic; color: #4ba55e; text-decoration: none;">www.nco-epc.ru</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
