<table cellpadding="0" cellspacing="0" align="center">
    <tr>
        <td width="480" align="left" valign="top" style="background: #ffffff; font-family: Tahoma, Arial, sans-serif; font-size: 14px; line-height: 18px; color: #000001;">
            <table cellpadding="0" cellspacing="0" style="padding: 50px 25px 10px; background: #4ba55e; color: #ffffff; font-size: 26px; font-weight: bold;">
                <tr>
                    <td width="480" style="font-family: Helvetica, sans-serif;">
                        RBKmoney
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" align="center" style="padding: 30px 25px 20px; text-align: center; color: #4ba55e; font-size: 24px; font-weight: 600; text-transform: uppercase;">
                <tr>
                    <td>
                        Уважаемый пользователь!
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 0 25px; font-size: 20px; line-height: 24px;">
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        Вы осуществили платеж
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0;">
                        на сумму: ${paymentPayer.amountWithCurrency}
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0; font-weight: bold;">
                        по счету No&nbsp;${paymentPayer.invoiceId} от&nbsp;${paymentPayer.date}
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 20px 25px; font-size: 16px; line-height: 20px;">
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        Тип карты: ${paymentPayer.cardType}
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        Маскированная карта: ${paymentPayer.cardMaskPan}
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 5px; padding-bottom: 5px;">
                        E-mail: ${paymentPayer.toReceiver}
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 20px 25px; font-size: 16px; line-height: 20px;">
                <tr>
                    <td>
                        Счет полностью оплачен
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 20px 25px; font-size: 14px; line-height: 20px;">
                <tr>
                    <td>
                        Если операция совершена не вами, об утрате электронного платежного средства или о его использовании без вашего согласия Вы можете уведомить нас по телефону +7 (495) 648-68-58 или направив нам соответствующее электронное заявление на блокирование вашего электронного средства платежа через Систему RBKmoney
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 10px 25px; font-size: 14px; color: #4ba55e;">
                <tr>
                    <td>
                        По всем вопросам вы можете обращаться круглосуточно в&nbsp;нашу <a href="http://www.rbkmoney.com/support" target="_blank" style="color: #4ba55e;">службу поддержки</a>.
                    </td>
                </tr>
                <tr align="right">
                    <td style="padding-top: 10px; font-style: italic;">
                        Команда RBKmoney
                    </td>
                </tr>
            </table>
            <table cellpadding="0" cellspacing="0" style="padding: 20px 25px; font-size: 11px; line-height: 14px; color: #4ba55e;">
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        Оператор по переводу денежных средств
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        НКО "ЭПС" (ООО) (лицензия Банка России No3509-K от&nbsp;11.02.2013г.)
                    </td>
                </tr>
                <tr>
                    <td style="padding-top: 0; padding-bottom: 0;">
                        <a href="http://www.nco-eps.ru" target="_blank" style="font-size: 13px; font-weight: 600; font-style: italic; color: #4ba55e; text-decoration: none;">www.nco-epc.ru</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
